{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "useBuiltIns": "usage",
        "corejs": "2.6.10",
        "targets": {
          "ie": 9
        }
      },
      "@babel/preset-stage-0"
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    ["@babel/plugin-transform-runtime"],
    ["@babel/plugin-proposal-class-properties", { "loose": true }]
  ],
  "ignore": ["node_modules/**"]
}
